.tableContainer {
  max-height: 300px; 
  overflow-y: visible; 
  overflow-x: hidden;
  border-radius: 10px;
}

.table-striped{
    margin-bottom: 0;
}

.table-striped  th{
  position: sticky;
  top: 0;
  z-index: 1020;
}

tr {
  font-size: 1.1rem;
}