.levelInputContainer{
    width: 40%;
}

.btnCadena{
    background-color: var(--primary-color);
    border: none;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 100ms ease-in;
}

.btnCadena:hover{
    background-color: transparent;
    color: var(--primary-color);
}

.input-error {
    border: 1px solid red;
  }

.constellation{
 border-radius: 10px;
    width: 30vh;
    transition: 200ms ease-in;
}

.constellation:hover{
    transform: scale(1.05,1.05);
    cursor: pointer;
}

@media (max-width: 768px) {
    .constellation{
        width: 25vh;
    }
}
