.footerContainer{
    display: flex;
    bottom: 0;
    height: 10vh;
    width: 100%;
}

.nameFooter{
    font-size: 20px;
}

.logo{
    font-size: 40px;
    color: var(--primary-color);
    margin: 0 10px;
}

.igLogo:hover{
    color: rgb(148, 0, 148);
    cursor: pointer;
}

.lkLogo:hover{
    color:  #0e76a8;
    cursor: pointer;
}

.gmailLogo:hover{
    color: rgb(199, 47, 47);
    cursor: pointer;
}

.ghLogo:hover{
    color: white;
    cursor: pointer;
}

.waLogo:hover{
    color: #25d366;
    cursor: pointer;
}

.download{
    text-decoration: none;
}

.logoDownload{
    font-size: 23px;
}